
<% include ./views/partials/headers.ejs %>

<div class="container">
    <h1>BANANA WEEEE</h1>

    <div>
        <a href="/admin" class="button">GO</a>
    </div>
</div>

<% include ./views/partials/footer.ejs %>

